deps/
deps.clean*/
.vscode/
.idea/
.cmake/
cmake-build-*/
.ninja*
*.ninja
Testing/
CMakeFiles/
build/
Makefile
*.a
CMakeCache.txt
src/test/seer_test
src/temp.zip
CTestTestfile.cmake
cmake_install.cmake
